<!-- Decks page. Contains decks that the user has created (along with # of due/new cards). Default page once user logs in. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links.ejs') %>
    <link rel="stylesheet" href="/styles/main-menu.css">
    <link rel="stylesheet" href="/styles/main-header.css">
    <link rel="stylesheet" href="/styles/main-deck.css">
    <link rel="stylesheet" href="/styles/style-decks.css">
</head>
<body>
     <section class="header-container"> <!-- header-container: Contains everything on the top bar | main-header.css -->
        <div class="header">
            <div class="brand-container">
                <a href="/decks" class="brand-name">Kanau</p><img src="/img/logo-transparent-dark.png" class="brand-icon"></a>
            </div>
            <form action="/dictionary" class="dictionary-container" method="GET"> 
                <input type="text" name="termQuery" id="dictionary-query" placeholder="English, Japanese word" value="">
                <input type="submit" value="" id="dictionary-search-button">
            </form>
            <div class="dropdown-container">
                <button class="header-more-button"></button>
                <div class="dropdown-content">
                    <a href="/account">Account Settings</a>
                    <a href="/about">About Kanau</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </section>
    <div class="content-container"> <!-- content-container: Everything below the top header menu | main-menu.css -->
        <!-- menu-container: links on the left side (Decks, Browse, Dictionary) -->
        <div class="menu-container">
            <p>Study</p>
            <ul>
               <li><a href="/decks"><strong>Decks</strong></a></li>
               <li><a href="/browse">Browse</a></li>
               <li><a href="/dictionary">Dictionary</a></li>
               <br>
               <li><a href="#" class="subaction" id="addCard-btn">Add card</a></li>
               <li><a href="#" class="subaction" id="createDeck-btn">Create deck</a></li>
            </ul>
        </div>
        <div class="deck-select-container">
           <table class="deck-select-table" id="deck-select-table">
                <tr>
                   <th class="deck-name-th">Decks</th>
                   <th>Due</th>
                   <th>New</th>
               </tr>
               <!-- <tr>
                   <td class="deck-name-td"><a class="effect-underline">Essential 1000 Kanji</a></td>
                   <td class="due-count">25</td>
                   <td class="new-count">10</td>
                   <td class="deck-options-button"></td>
                </tr> -->
                <%if (_dueAndNewDecks != null) {%>
                    <%decks.forEach((deck, i) => { %>
                        <tr>
                            <td class="deck-name-td"><a class="effect-underline"><%=deck%></a></td>
                            <td class="due-count"><%=_dueAndNewDecks[i][0]%></td>
                            <td class="new-count"><%=_dueAndNewDecks[i][1]%></td>
                            <td class="deck-options-button"></td>
                        </tr>
                    <%});%>
                <%}%>
           </table>
        </div>
        <div id="modal-deck-container" class="modal">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Deck Options</p>
                    <button class="delete is-large" aria-label="close" id="modal-deck-btn-close"></button>
                </header>
                <section class="modal-card-body">
                    <p class="title is-2 modal-deck-title" id="modal-deck-title" contenteditable="false"></p>
                    <div class="container">
                        <button class="button is-primary txt-change-name modal-deck-btn" id="modal-changeName-btn">Change name</button>
                        <button class="button is-primary txt-see-all-cards modal-deck-btn" id="modal-seeAllCards-btn">See all cards</button>
                    </div>
                    <form action="#" id="modal-deck-form-container">
                        <p class="title is-2 modal-deck-title">New cards</p>
                        <div class="container">
                            <p class="title is-2 modal-deck-text txt-newCardsPerDay">New cards/day</p>
                            <input type="number" name="modal-deck-input-newCardsPerDay" id="modal-deck-input-newCardsPerDay" min="1" value="10">
                        </div>
                        <div class="container">
                            <input type="button" value="Save" class="button is-primary" id="modal-deck-save-btn">
                            <input type="button" value="DELETE Deck" class="button is-danger" id="modal-deck-delete-btn">
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div id="modal-addCard-container" class="modal">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add card</p>
                    <button class="delete is-large" aria-label="close" id="modal-addCard-btn-close"></button>
                </header>
                <section class="modal-card-body">
                    <form action="#" id="modal-addCard-form-container">
                        <p class="title is-2 modal-deck-text">Front</p>
                        <textarea name="modal-addCard-front-input" id="modal-addCard-front-input" class="textarea" onkeyup="buttonCheck(this)"></textarea>
                        <p class="title is-2 modal-deck-text">Back</p>
                        <textarea name="modal-addCard-back-input" id="modal-addCard-back-input" class="textarea" onkeyup="buttonCheck(this)"></textarea>
                        <input type="button" value="Add" class="button is-primary" id="modal-addCard-save-btn" disabled>
                        <div class="select is-primary" id="add-card-select-deck-container">
                            <select name="add-card-select-deck" id="add-card-select-deck">
                                <% for(var i = 0; i < decks.length; i++) { %>
                                    <option value="<%= decks[i] %>"> <%= decks[i] %> </option>
                                <% }%>    
                            </select>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div id="modal-addDeck-container" class="modal">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Create new deck</p>
                    <button class="delete is-large" aria-label="close" id="modal-addDeck-btn-close"></button>
                </header>
                <section class="modal-card-body">
                    <form action="#" id="modal-addDeck-form-container">
                        <p class="title is-2 modal-deck-text">New deck name</p>
                        <input type="text" name="modal-addDeck-front-input" id="modal-addDeck-front-input" class="input">
                        <input type="button" value="Add" class="button is-primary" id="modal-addDeck-save-btn">
                    </form>
                </section>
            </div>
        </div>
        <img src="/img/torii-mini.svg" alt="Torii" id="torii-static">
    </div>
    <script src="/script/decks-main.js"></script>
</body>
</html>