<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links.ejs') %>
    <link rel="stylesheet" href="/styles/main-menu.css">
    <link rel="stylesheet" href="/styles/main-header.css">
    <link rel="stylesheet" href="/styles/dictionary.css">
</head>
<body>
    <section class="header-container"> <!-- header-container: Contains everything on the top bar | main-header.css -->
        <div class="header">
            <div class="brand-container">
                <a href="decks-main.html" class="brand-name">Kanau</p><img src="/img/logo-transparent-dark.png" class="brand-icon"></a>
            </div>
            <form action="./dictionary" class="dictionary-container" method="GET"> 
                <input type="text" name="termQuery" id="dictionary-query" placeholder="English, Japanese word" value="">
                <input type="submit" value="" id="dictionary-search-button">
            </form>
            <div class="dropdown-container">
                <button class="header-more-button"></button>
                <div class="dropdown-content">
                    <a href="account">Account Settings</a>
                    <a href="about">About Kanau</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </section>
    <div class="content-container"> <!-- content-container: Everything below the top header menu | main-menu.css -->
        
        <div class="menu-container">
            <p>Study</p>
            <ul>
                <li><a href="decks">Decks</a></li>
                <li><a href="browse">Browse</a></li>
                <li><a href="dictionary"><strong>Dictionary</strong></a></li>
            </ul>
        </div>

        <div class="subcontent-container">
        	<!-- <div class="content-header">
        		<div id="content-word">叶う</div>
        		<div id="japanese-def">かなう</div>
        	</div>
        	<div class="content-body">
        		<div class="content-definition">
        			<div class="english-def">to come true (of a wish, prayer, etc);</div>
	        		<br>
	        		<div class="english-def">to be realized;</div>
	        		<br>
        		</div>
        	</div>
        	<div class="content-footer">
        		<ul>
        			<div class="japanese-sentence-container">
        				<div class="japanese-sentence-example">
        					<button class="add-icon"> + </button>
        					<div class="japanese-sentence">夢は叶った</div>
        				</div>
                        <div class="english-sentence-example">Dreams came true.</div>
                        <br>
                        <div class="japanese-sentence-example">
        					<button class="add-icon"> + </button>
        					<div class="japanese-sentence">夢は叶った</div>
        				</div>
                        <div class="english-sentence-example">Loading...</div>
        			</div>
        		</ul>
        	</div> -->

            <% if (!isSearch) { %>
                <h2 class="keyword-enter-message">Enter an English/Japanese keyword on the search box above!</h2>
            <% } else if (Dictionary.Kanjis.length > 0) { %>
                <%Dictionary.Kanjis.forEach((kanji, indexKanji) => {%>
                    <div class="content-header">
                        <div id="content-word"><%=kanji%></div>
                        <div id="japanese-def"><%=Dictionary.Kanas[indexKanji]%></div>
                    </div>
                    <div class="content-body">
                        <div class="content-definition">
                            <% Dictionary.Meanings[indexKanji].forEach(meaning => { %>
                                <div class="english-def"><%=meaning%></div>
                                <br>
                            <%});%>
                        </div>
                    </div>
                    <div class="content-footer">
                        <ul>
                            <div class="japanese-sentence-container">
                            <%Sentence[indexKanji].forEach((sentence, index) => { %>
                                        <div class="japanese-sentence-example">
                                            <button class="add-icon"> + </button>
                                            <div class="japanese-sentence"><%=sentence.Text%></div>
                                        </div>
                                    <div class="english-sentence-example" hidden="false">Loading...</div>
                                    <br>
                            <%}); %>
                            </div>
                        </ul>
                    </div>
                <%})%>
            <%};%>

            <div class="modal" id="add-sentence-modal">
                <div class="modal-background"></div>
                <div class="modal-card">

                    <header class="modal-card-head">
                        <p class="modal-card-title">Add sentence to deck</p>
                        <button class="delete" aria-label="close" id="modal-close"></button>
                    </header>

                    <section class="modal-card-body">
                        <form action="#" method="POST" id="add-sentence-form">
                            <div class="columns">
                                <div class="column">
                                    <label for="frontWord" class="title is-4">Front</label>
                                    <div class="columns">
                                        <div class="column">
                                            <textarea class="textarea" rows="8" name="frontWord" id="frontWord"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <label for="backWord" class="title is-4">Back</label>
                                    <div class="columns">
                                        <div class="column">
                                            <textarea class="textarea" rows="8" name="backWord" id="backWord"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <label for="deckSelect" class="title is-4" id="deck-label">Deck:</label>
                                    <%if (isSearch) {%>
                                    <div class="select">
                                        <select name="deckSelect" name="deckSelect" id="deckSelect">
                                            <% for(var i = 0; i < decks.length; i++) { %>
                                                <option value="<%= decks[i] %>"> <%= decks[i] %> </option>
                                            <% }%>    
                                        </select>
                                    </div>
                                    <%}%>
                                </div>
                            </div>
                        </form>
                    </section>

                    <footer class="modal-card-foot">
                        <button class="button is-success" id="save-btn">Add to deck</button>
                        <button class="button" id="cancel-btn">Cancel</button>
                    </footer>

                </div>
            </div>

        </div>
    </div>
    <script src="/script/dictionary-main.js"></script>
</body>
</html>