<!-- Welcome Page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/links.ejs') %>
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/index-style-buttons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/script/validator.min.js"></script>
    </head>
    <body>
        <div class="modal" id="login-modal">
            <div class="modal-background"></div>
            <div class="modal-card animate__animated animate__faster" id="login-card">
                <header class="modal-card-head" style="background-color: red;">
                    <p class="modal-card-title" style="color: white;">Login Window</p>
                    <button class="delete is-large" id="login-close-btn" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <form id="login-form" action="/login" method="post" onsubmit="return false;">
                        <label for="login_email_input" class="content is-medium">Enter Email</label>
                        <input type="text" class="input" id="login_email_input" name="login_email_input" placeholder="Email">
                         <p id="login_email_input_error" class="error"><%= details.login_email_input_error %></p>

                        <label for="login_password_input" class="content is-medium">Password</label>
                        <input type="password" class="input" id="login_password_input" name="login_password_input" placeholder="Password">
                          <p id="login_password_input_error" class="error"><%= details.login_password_input_error %></p>

                        <div class="container">
                            <input class="button is-primary" id="login-submit" type="submit" value="Sign in" disabled>
                            <!-- <button class="button" id="login-google"></button> -->
                        </div>
                    </form>
                </section>
            </div>
          </div>
          <div class="modal" id="register-modal">
            <div class="modal-background"></div>
            <div class="modal-card animate__animated animate__faster" id="register-card">
                <header class="modal-card-head" style="background-color: rgb(155, 19, 19);">
                    <p class="modal-card-title" style="color: white;">Register Window</p>
                    <button class="delete is-large" id="register-close-btn" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <form id="register-form" action="/register" method="post">
                        <label for="register_email_input" class="content is-medium">Enter new Email</label>
                        <input type="text" class="input" id="register_email_input" name="register_email_input" placeholder="Email">
                         <p id="register_email_input_error" class="error"><%= details.register_email_input_error %></p>

                        <label for="register_password_input" class="content is-medium">Password</label>
                        <input type="password" class="input" id="register_password_input" name="register_password_input" placeholder="Password">
                         <p id="register_password_input_error" class="error"><%= details.register_password_input_error %></p>

                        <label for="register_password_confirm_input" class="content is-medium">Confirm Password</label>
                        <input type="password" class="input" id="register_password_confirm_input" name="register_password_confirm_input" placeholder="Confirm Password">
                         <p id="register_password_confirm_input_error" class="error"><%= details.register_password_confirm_input_error %></p>
                        <div class="container">
                            <input class="button is-primary" id="register-submit" type="submit" value="Create" disabled>
                            <!-- <button class="button" id="register-google"></button> -->
                        </div>
                    </form>
                </section>
            </div>
          </div>
        <div class="menu-container">
            <div class="menu">
                <p class="brand-name">Kanau</p>
                <img src="/img/logo-transparent-dark.png" alt="brand logo" id="brand-logo" class="animate__animated animate__faster is-hidden">
                <a href="#" class="btn from-left" id="register-button">Register</a>
                <a href="#" class="btn from-right" id="login-button">Login</a>
            </div>
        </div>
        <div class="animate__animated welcome-container">
            <div class="welcome">
                <div class="welcome-geisha">
                    <img src="/img/logo-transparent.png" alt="Japanese geisha" id="welcome-geisha-img">
                </div>
                <div class="welcome-msg1">
                    <h2 id="welcome-msg1-txt">Your Own Study Companion</p>
                </div>
                <div class="welcome-msg2">
                    <h2 id="welcome-msg2-txt">Built by Japanese learners, for Japanese learners</p>
                </div>
            </div>
        </div>
        <div class="features-container">
            <div class="features">
                <p>Features</p>
            </div>
        </div>
        <div class="animate__animated animate__bounceInUp arrow-container">
            <img src="/img/nav-buttons/keyboard_arrow_down-white-48dp.svg" alt="arrow down">
        </div>
        <div class="features-info-container">
            <div class="features-info-box">
                <div class="animate__animated feature1-container">
                    <div class="feature1-header-box">
                        <img src="/img/card.png" alt="flashcard" id="card-img">
                        <p id="feature1-txt">Flashcard</p>
                    </div>
                    <div class="feature1-text">
                        <p>
                            Never forget a word again. 
                            Flashcards made using Kanau simplifies your study by optimizing your next review date. 
                            Hard to grasp words are repeated in the perfect interval for maximum memory retention.
                        </p>
                    </div>
                </div>
                <div class="animate__animated feature2-container">
                    <div class="feature2-header-box">
                        <img src="/img/book.png" alt="dictionary" id="book-img">
                        <p id="feature2-txt">Dictionary</p>
                    </div>
                    <div class="feature2-text">
                        <p>
                            Full access to the Japanese dictionary, complete with English translations and example sentences. 
                            Like the word? Found a sentence peculiar? Add them to your favorite deck with a click of a button.
                        </p>
                    </div>
                </div>
            </div>   
        </div>
        <div class="footer-msg">
            <p>Kanau was born out of the combined efforts of two aspiring college undergraduates. Gabby and Adrian. You can reach us over on Twitter for inquiries regarding the operation of the website. The website
            uses JMdict for dictionary functionality. These files are the property of the Electronic Dictionary Research and Development Group, and are used in conformance with the Group's licence.
            <br><br>Example sentences come from the Tatoeba project and are licensed under Creative Commons CC-BY. All rights reserved.</p>
        </div>
        <script src="/script/index.js"></script>
        <script src="/script/register.js"></script>
        <script src="/script/login.js"></script>
    </body>
</html>